body, html {
    margin: 0;
    padding: 0;
    background-color:  #ffffff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-image: url("src/bg.jpg");
    background-size: 1200px 640px, cover;
    background-repeat: repeat;

    font: 18px Arial, serif;
} 

.norep {
  background-image: url("src/bg.jpg");
  background-size: 1200px 640px, cover;
  background-repeat: repeat-x;
}

.nav {
    position: relative;
    background-color:#2e2e2e;
    height: 110px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    z-index: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px rgb(80, 80, 80);
}

.logo {
  position: absolute;
  float: left;
  width: 200px;
  height: 100px;
  padding: 5px;
  z-index: 1000;
}

.navLI {
    width: auto;
    overflow: hidden;
    /*display: flexbox;
    float: left;*/
    text-align: center;

    font: 18px Arial, serif;
    color: white;
    
    padding: 1.5em;
    padding-top: 0.8em;
    padding-bottom: 0em;

    margin: 0.8em;

    height: 2em;
    width: 6em;

    transition: 0.25s;
    text-decoration: none;
}

.selected {
  border-bottom: 2px solid white;
}

.hamburgerIcon {
    display: none;
    padding: 0.1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    color: white;
    float: left;
    text-align: center;
    font-size: 50px;
}

.navLI:hover {
    cursor: pointer;
    background-color: rgb(66, 66, 66);
}

.hidden {
    display: none;
}

.downloadButton {
    display: flex;
    background-color: #2e2e2e;
    text-decoration: none;
    font: 25px Arial, serif;
    color: white;

    height: 3em;
    width: 9em;

    margin: auto auto;
    
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.downloadButton:hover {
    text-decoration: underline;
    background-color: rgb(66, 66, 66);
}

.dlBody {
    position:fixed;
    left:0px;
    bottom:0px;
    height: 46vh;
    width:100%;
    background:rgb(255, 255, 255);
}

.body {
  position: relative;

  width: 80%;
  height: 100%;
  min-height: 85vh;

  margin: auto auto;
  z-index: 100;
  background-color: white;
  
  padding: 1em 5% 1em 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.body>img {
  width: 700px;
  max-width: 90%;
  height: auto;
}

.btnCont {
  position: relative;

  margin: auto auto;
  margin-top: -7em;
  padding-top: 2.5em;
  height: 17em;
  width: 19em;
  
  z-index: 200;
  background-color: white;
}

.galleryCont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryCont>img {
  flex-grow: 0.5;
  object-fit: cover;
  vertical-align: bottom;
  margin: 1em;
}

@media screen and (max-width: 1200px) {
  .logo {
    display: none;
  }

  div.nav { 
    height: auto;
  }

  .galleryCont>img {
    max-width: 80%;
    min-width: 80%;
  }
}

/*credit to this:  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav for basically a tutorial on how to do this.*/
/*normally I'd use a framework for a hamburger menu, because no-one in their right mind should attempt to manually make one of these.*/
/*but here it is, without a framework (but with help from w3schools, shame on me)*/
@media screen and (max-width: 800px) {

    .body {
      width: 100%;
      padding: 1em 0;
    }

    .body>img {
      max-width: 100%;
    }
  
    div.nav a:not(:first-child) {display: none;}
    div.nav .hamburgerIcon {
      display: block;
    }

    div.nav.responsive {position: relative;}
    div.nav.responsive .hamburgerIcon {
      left: 0;
      top: 0;
    }

    div.nav.responsive a {
      float: none;
      display: block;
      text-align: left;
      width: 80%;
      background: none;
      border-radius: 0%;
      border: none;
      text-decoration: none;
    }

    div.nav {
      display: block;
    }

    .body>div {
      width: 100vw;
    }
  }

  .aboutDistinction>div {
    margin-top: 1em;
  }

  .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 1.4em;
    width: 100%;
    background:rgb(80, 80, 80);
    z-index: 1000;
    text-align: center;
    color: white;
    font-size: 12px;
  }
